body{
    margin: auto;
    background-color:rgb(212, 210, 210);
}
section{
    background-color:red;
}
#nav_bar{
    width:100%;
    height:10vh;
    background-color:#131921;
}
#Amazon_image{
    /* border:2px solid white; */
    /* margin-top:1%; */
    position:absolute;  
    margin-top: 1.5vh;
    margin-left: 1vw;
    height:6vh;
    width:9vw;
    display: inline-block;
    /* float: left; */
}

#Amazon_image img{
    margin-top: 1.5vh;
    margin-left: 0.6vw;
    height:6vh;
    width:9vw; 
}
#adress_icon{
    /* border:2px solid red; */
    /* margin-top:1%; */
    position:absolute;  
    margin-top: 1.5vh;
    margin-left: 12vw;
    height:6vh;
    width:9vw;
    float:left;
}
#button_loc{
    height:6vh;
    width:13vw;
    position:absolute;  
    margin-bottom: 1.5vh;
    background-color:#131921;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
#button_loc:hover{
    border: 1px solid white;
}
.loc-icon{
    font-size: 20px;
    color: white;
}
#search-bar{
    /* border:2px solid rgb(60, 0, 255); */
    /* margin-top:1%; */
    position:absolute;
    display: inline-block; 
    margin-top: 1.9vh;
    margin-left: 26vw;
    height:6vh;
    width:44vw;
    float:left;
}
#select-div{
    display: inline-block;
    height:5.5vh;
    /* background-color: red; */
    margin-top : -2vh;
    /* margin-top: -2vh; */
}
#search-select{
    /* display: inline-block; */
    font-size: 12px;
    height:5.8vh;
    font-family: inherit;
    margin-top : -2vh;
    background-color: #f3f3f3;
    color: gray;
}
#search-text{
    background-color: red;
    display: inline-block;
    height:5.5vh;
    width:35.5vw;
    margin-left: -5px;
}
#text-box{
    height:5.5vh;
    width:35.5vw;
}
#search-button{
    height:5.5vh;
    width:3vw;
    display: inline-block;
    position:absolute;  
    margin-bottom: 1.5vh;
    margin-left: 0px;
    background-color:#febd69;
    border: none;
    font-size: 22px;
    font-weight: bold;
    /* color: white; */
}
#Flag_icon{
    background-color:#febd69;
    position:absolute;
    display: inline-block; 
    margin-top: 1.9vh;
    margin-left: 72vw;
    height:5.5vh;
    width:3vw;
    float:left;
}
#Flag_icon img{
    
    height:5.5vh;
    width:3vw;
}
#signin-icon{
    background-color:#febd69;
    position:absolute;
    display: inline-block; 
    margin-top: 1.9vh;
    margin-left: 76vw;
    height:5.5vh;
    width:3vw;
    float:left;
}
#signin-button{
    height:5.5vh;
    width:8vw;
    font-size: 16px;
    font-weight: bold;
    background-color:#131921;
    border: none;
    color: white;
}
#signin-button:hover{
    border: 1px solid white;
}
#return-icon{
    /* background-color:#febd69; */
    position:absolute;
    display: inline-block; 
    margin-top: 2.1vh;
    margin-left: 84vw;
    height:5.5vh;
    width:6vw;
    line-height: 14px;
    float:left;
}
#return-button{
    height:5.5vh;
    width:9vw;
    font-size: 16px;
    font-weight: bold;
    background-color:#131921;
    border: none;
    color: white;
}
#return-button:hover{
    border: 1px solid white;
}
#cart-icon{
     background-color:#febd69;
     position:absolute;
     display: inline-block; 
     margin-top: 2.1vh;
     margin-left: 93vw;
     height:5.5vh;
     width:6vw;
     line-height: 14px;
     float:left;
}
#cart-button{
    height:5.5vh;
    width:6vw;
    font-size: 16px;
    font-weight: bold;
    background-color:#131921;
    border: none;
    color: white;
}
#cart-icon i{
    font-size: 30px;
}

/* crousel */

.crousel-icon{
   padding-bottom: 200px;
}
.crousel-icon1{
  height: 50px;
  width:50px;
}
 /* //////////product cards//////// */
.containers{
    /* position: relative; */
}
 .card_main_container{
    /* border: 2px solid red; */
    z-index: 10;
    height: 140vh;
    width:96vw;
    position: absolute;
    margin-top:40vh;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
 }
 .product-cards{
        height: 55vh;
        width:25vw;
        background-color: white;
        margin-top:40px;
        margin-left:70px;
        float: left;
        box-shadow: 10px 20px 30px #3b2632;;
 }
 .inside-product-card{
        height: 51vh;
        width:22vw;
        /* background-color: yellow; */
        margin-top:2vh;
        margin-left:1.5vw;

 }
 .product-images-div{
    height: 22.5vh;
    width:9.5vw;
    /* background-color: pink; */
    margin-top:2vh;
    margin-left:1vw;
    float: left;
 }
 .product-images-div img{
    height: 18vh;
    width:9.5vw;
 }
 .product-images-div p{
    font-size: 12px;
 }
 .carousel-item{
    height: 195vh;
    background-color:rgba(0,0,0,.125)
    /* object-fit:cover; */
    /* vertical-align: middle; */
}
footer{
    height: 100%;
    width: 100%;
    background-color:#131921;
    color: white;
    text-align: center;
    
}
table{
    column-gap: 2px;
    text-align: left;
    font-family: inherit;
}
#footer_flex{
    display: flex;
    width:100%;
    height: 100%;
    justify-content: center;
    margin-bottom: 15px;
}
th{
    padding-right: 51px;
    padding-bottom: 8px;
}
footer span{
    font-family: inherit;
    white-space: normal;
    font-size: 12px;
}
.coupon{
    height: 500px;
    width: 500px;
    background-color: #3b2632;
/*     border: 2px solid red; */
    z-index: 11;
    position: absolute;
    margin-top: 10%;
    margin-left: 30%;
    background-image: url(./images/coupon.jpeg);
    background-repeat:no-repeat ;
    background-size:100% 100%;
}
